* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

/* FAQ MODAL CSS APRIL 6, 2026  */

#open-button {
  display: flex;
  background: #e5f6ff;
  border-radius: 20px;
  align-items: center;
  padding: 10px;
  border: none;
  color: #185baa;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  cursor: pointer;
  gap: 8px;
  width: 100%;
  justify-content: center;
  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease;
}
#open-button svg {
  flex-shrink: 0;
}
/* Modal */
#faq-modal {
  position: fixed;
  inset: 0;
  display: flex;
  visibility: hidden;
  align-items: flex-end;
  justify-content: center;
  z-index: 100000;
  opacity: 0;
  transition:
    opacity 0.3s ease-out,
    visibility 0.3s ease-out;
}
.modal-content-faq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  border-radius: 16px 16px 0 0;
  padding: 33px 10px 12px;
  background: #fff;
  transform: translateY(100%);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
  transition: transform 0.3s ease-out;
  overflow: hidden;
  max-height: 80vh;
  height: 80vh;
}
#faq-modal.show-modal {
  opacity: 1;
  visibility: visible;
  background: rgba(0, 0, 0, 0.5);
}

#faq-modal.show-modal .modal-content-faq {
  transform: translateY(0);
}
/*  faq*/
#faq-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  flex: 1;
  margin: 0 auto;
  padding: 15px 10px 0;
  max-width: 840px;
  min-height: 0;
}
#faq-section :is(h2, p, label) {
  margin: unset;
}
.faq-section_header-main {
  flex-shrink: 0;
  z-index: 1000;
  background-color: #fff;
  width: 100%;
  position: relative;
}
.faq-section_header {
  display: grid;
  gap: 8px;
  text-align: center !important;
  color: var(--Paragraph-Text, #5a5a59);
  margin-bottom: 15px;
  padding: 0 16px;
}
.faq-section_header h2 {
  color: #185baa;
  font-size: clamp(18px, 2.6vw, 28px);
  margin: unset;
  font-weight: 600;
}
.faq-section_header p {
  font-size: clamp(14px, 1.6vw, 18px);
  margin: unset;
  font-weight: 500;
}
.faq-close-btn {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: -25px;
  right: -4px;
}
.faq-container {
  width: 100%;
  height: 100%;
}
.faq-item {
  margin-bottom: 16px;
  border-radius: 24px;
  border: 1px solid var(--Grey-2, #dcdcdc);
  background: #fff;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
  position: relative;
}
/* Hide checkbox */
.faq-item input {
  display: none;
}
.faq-question {
  display: flex;
  justify-content: space-between;
  color: var(--PrimaryTextColor-PrimaryText90, #4c525c);
  padding: 20px 28px 16px;
  font-size: clamp(14px, 1.6vw, 16px) !important;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.faq-question .icon {
  position: relative;
  width: 24px;
  height: 24px;
  margin-left: 16px;
}

.faq-question .icon:before,
.faq-question .icon:after {
  content: "";
  position: absolute;
  width: clamp(12px, 2vw, 16px);
  height: 2px;
  background: var(--PrimaryColor-Blue70, #185baa);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s;
}

/* Vertical line (for "+") */
.faq-question .icon:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

/* Answer content */
.faq-answer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 0;
  overflow: hidden;
  padding: 0 28px;
  font-size: 14px;
  line-height: 1.6;
  color: var(--SecondaryGray-SecondaryText-SecondaryGray80, #767676);
  transition:
    max-height 0.35s ease,
    padding 0.35s ease;
}
/* Magento have this default. */
/* .faq-answer ul {
  padding-left: 1.5rem;
} */

.faq-answer p:last-child {
  margin-bottom: 22px;
}

.faq-answer :is(td, th, tr) {
  border: 1px solid #ccc;
  padding: 8px;
}

.faq-answer table {
  border-spacing: 0;
  width: 100%;
  border-collapse: collapse;
}

.faq-answer strong {
  font-weight: 600;
}

#faq-section .faq-answer a {
  font-size: 14px !important;
  text-decoration: underline !important;
  color: #337ab7;
}

/* When OPEN */
.faq-item input:checked ~ .faq-answer {
  max-height: fit-content;
  padding: 0 28px 20px 28px;
}

/* Turn "+" into "-" */
.faq-item input:checked ~ .faq-question .icon:after {
  transform: translate(-50%, -50%) rotate(0deg);
}

/*  */

.faq-options {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.faq-option {
  padding: 7px 14px;
  border-radius: 999px;
  border: 1px solid #dcdcdc;
  background: #fff;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  color: #4c525c;
}

.faq-option.active {
  border: 1px solid var(--PrimaryColor-Blue60, #185baa);
  color: var(--PrimaryColor-Blue60, #185baa);
}

.faq-container.hidden {
  display: none;
}

@media (width >= 768px) {
  /* In modal */
  #faq-modal {
    inset: 0;
    display: none;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    animation: modalFade 0.3s ease;
  }
  #faq-modal.show-modal {
    display: flex;
  }
  .modal-content-faq {
    padding: 29px 23px 20px;
    border-radius: 16px;
    max-width: 885px;
    height: 675px;
    max-height: 675px;
    overflow: hidden;
    animation: modalFade 0.3s ease;
  }
  .faq-close-btn {
    top: -23px;
    right: -15px;
  }
  #root .container {
    padding: unset !important;
  }
}
/* KEYFRAMES DITOH */
@keyframes modalFade {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
